body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.equipes {
    display: flex;
    flex-wrap:wrap;
    flex-direction:column-reverse;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(136, 4, 4, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.card h2 {
    margin-top: 0;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card li {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}